/* Custom Stylesheet */
.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

#login-form {
    margin: 5em auto 2em auto;
    padding: 20px;
    border: 1px solid #FDBF3B;
    border-radius: 4px;
    box-sizing: border-box;
}


#win {
    background-color: #eeeeee;
    display: block;
    position: fixed;
    border: 2px solid #1565c0;
    border-radius: 30px; /* скругление */
    width: 50%;
    height: 50%;
    left: 0px;
    top: 0px;
    margin-left: 25%;
    margin-top: 20%;
}

.answer-apply {
    background-color: #4db6ac;
    border: 1px solid #4db6ac;
    border-radius: 15px; /* скругление */
    padding-right: 20px;
    padding-bottom: 2px;
    color: white;
}

.answer-notapply {
    background-color: #ff5252;
    border: 1px solid #ff5252;
    border-radius: 15px; /* скругление */
    padding-right: 20px;
    padding-bottom: 2px;
    color: white;
}

.infoText {
    display: block;
    background-color: lemonchiffon;
    border: 1px solid;
    line-height: 0.5;
    border-color: khaki;
    font-size: 13px;
    margin: 5px;
    padding: 5px;
}

.infoText div {
    font-size: 14px;
    background-color: khaki;
    line-height: 1.5;
}

.svg_icon {
    color: #e8eaed;
    fill: currentColor;
    vertical-align: middle;
    font-size: 2rem;
    margin-left: 5px;
}

.icon_text {
    padding: 0 74px 0 16px;
    text-align: left;
    vertical-align: middle;
    white-space: normal;
}

/*password input*/
.password {
    position: relative;
}

.password-control {
    position: absolute;
    top: 11px;
    right: 6px;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../../img/view.svg) 0 0 no-repeat;
}

.password-control.view {
    background: url(../../img/no-view.svg) 0 0 no-repeat;
}

.hidden {
    visibility: hidden;
    display: none;
}

/**/
input[type=number]:invalid+span:after {
    content: "✖ неправильнлое значение";
    padding-left: 5px;
    color: crimson;
}

input[type=number]:valid+span:after {
    content: "✓ ok";
    padding-left: 5px;
    color: limegreen;
}