input {
    border: 1px solid #cccccc; /*цвет рамки*/
    border-radius: 3px; /*закругление углов (общее)*/
    -webkit-border-radius: 3px; /*закругление углов (Google Chrome)*/
    -moz-border-radius: 3px; /*закругление углов (FireFox)*/
    -khtml-border-radius: 3px; /*закругление углов (Safari)*/
    background: #ffffff !important; /* желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым*/ 
    outline: none; /*удаляет обводку в браузерах хром(желтая) и сафари(синяя)*/
    height: 30px; /* высота на свое усмотрение*/
    width: 120px; /* ширина на свое усмотрение*/
    font-size: 17px; /* Размер шрифта*/
    font-family: Tahoma; /* Стиль шрифта*/
 }

input:focus {
    border: 3px solid #555;
}