a.buttons {
  width: 150px;
  height: 30px;
  text-decoration: none;
  padding-top: 9px;
  color: black;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 20px auto;
  font: normal 17px arial;
}

a.buttons:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background: #b521b7;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}


a_5.buttons:not(:hover) {
    transition: 0.6s;
}
a_5.buttons {
  width: 150px;
  height: 30px;
  text-decoration: none;
  padding-top: 9px;
  color: #a675b3;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 20px auto;
  font: normal 17px arial;
}

a_5.buttons:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background: #b521b7;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}


a_5.buttons:not(:hover) {
    transition: 0.6s;
}
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
a.buttons_end {
  width: 150px;
  height: 30px;
  text-decoration: none;
  padding-top: 9px;
  color: #a675b3;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 20px auto;
  font: normal 17px arial;
}

a.buttons_end:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background: #b521b7;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}


a.buttons_end:not(:hover) {
    transition: 0.6s;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
a.buttons_vybor {
  width: 300px;
  height: 40px;
  text-decoration: none;
  padding-top: 9px;
  color: orange;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 20px auto;
  font: normal 17px arial;
}

a.buttons_vybor:not(.active) {
	box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
	background: green;
	text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}


a.buttons_vybor:not(:hover) {
    transition: 0.6s;
}


/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
a.buttons_vybor2 {
  width: 300px;
  height: 50px;
  text-decoration: none;
  padding-top: 9px;
  color: black;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 20px auto;
  font: normal 17px arial;
}

    a.buttons_vybor2:not(.active) {
        box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
        background:  red;
        text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
    }


a.buttons_vybor2:not(:hover) {
    transition: 0.6s;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
a.buttons_refresh {
  width: 250px;
  height: 40px;
  text-decoration: none;
  padding-top: 9px;
  color: black;
  text-align: center;
  line-height: 20px;
  display: block;
  margin: 40px auto;
  font: normal 17px cursive;
}

a.buttons_refresh:not(.active) {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background:deeppink;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}


    a.buttons_refresh:not(:hover) { transition: 0.6s; }
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
a.buttons_FirstXod {
    width: 250px;
    height: 40px;
    text-decoration: none;
    padding-top: 9px;
    color: black;
    text-align: center;
    line-height: 20px;
    display: block;
    margin: 40px auto;
    font: normal 17px cursive;
}

a.buttons_FirstXod:not(.active) {
    box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8), inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3), 0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
    background: red;
    text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}


a.buttons_FirstXod:not(:hover) { transition: 0.6s; }

/*------------------------------------------------------------ Кнопки v2 Анимированные ------------------------------------------------*/

/*-----------Кнопка "Начать сначала" -----------*/
.restart_game {
	color: blue;
	background: silver;
	border: 2px solid blue;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 130px;
	height: 40px;
	line-height: 40px;
	margin: 5px;
	position: relative;
	overflow: hidden;
	transition: color .5s;
	-webkit-box-shadow: 0 0 4px #999;
	-moz-box-shadow: 0 0 4px #999;
	-o-box-shadow: 0 0 4px #999;
	box-shadow: 0 0 4px #999;
	z-index: 0;
}

.restart_game:before {
	background: blue;
	content: "";
	position: absolute;
	z-index: -1;
	height: 150px;
	width: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.restart_game:hover {
	color: #ffffff;
}

.restart_game:before {
	top: 100%;
	left: 100%;
	transition: all .7s;
}

.restart_game:hover:before {
	top: -30px;
	left: -30px;
}

/*-----------Кнопка "Завершить сборку" -----------*/
.endBuildP1 {
	color: #4530af;
	background: white;
	border: 2px solid #4530af;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 270px;
	height: 40px;
	line-height: 40px;
	margin: 5px;
	position: relative;
	overflow: hidden;
	transition: color .5s;
	-webkit-box-shadow: 0 0 4px #999;
	-moz-box-shadow: 0 0 4px #999;
	-o-box-shadow: 0 0 4px #999;
	box-shadow: 0 0 4px #999;
	z-index: 0;
}

.endBuildP1:before {
	background: #4530af;
	content: "";
	position: absolute;
	z-index: -1;
	height: 270px;
	width: 200px;
}

.endBuildP1:hover {
	color: #ffffff;
	background: #4530af;
}

.endBuildP1:before {
	top: 100%;
	left: 100%;
	transition: all .7s;
}
/*-------*/
.endBuildP2 {
	color: #4530af;
	background: white;
	border: 2px solid #4530af;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 270px;
	height: 40px;
	line-height: 40px;
	margin: 5px;
	position: relative;
	overflow: hidden;
	transition: color .5s;
	-webkit-box-shadow: 0 0 4px #999;
	-moz-box-shadow: 0 0 4px #999;
	-o-box-shadow: 0 0 4px #999;
	box-shadow: 0 0 4px #999;
	z-index: 0;
}

.endBuildP2:before {
	background: #4530af;
	content: "";
	position: absolute;
	z-index: -1;
	height: 270px;
	width: 200px;
}

.endBuildP2:hover {
	color: #ffffff;
	background: #4530af;
}

.endBuildP2:before {
	top: 100%;
	left: 100%;
	transition: all .7s;
}

/*-----------Кнопка Назад -----------*/
.back_div {
	margin: 0px auto;
	margin-bottom: 20px;
	padding: 0;
	text-align: center;
	display: block;
}

.back_menu {
	color: green;
	border: 2px solid green;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 130px;
	height: 40px;
	line-height: 40px;
	margin: 5px;
	position: relative;
	overflow: hidden;
	transition: color .5s;
	-webkit-box-shadow: 0 0 4px #999;
	-moz-box-shadow: 0 0 4px #999;
	-o-box-shadow: 0 0 4px #999;
	box-shadow: 0 0 4px #999;
	z-index: 0;
}

.back_menu:before {
	background: green;
	content: "";
	position: absolute;
	z-index: -1;
	height: 150px;
	width: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.back_menu:hover {
	color: #ffffff;
}
